.conteudo h1 {
    text-align: center;
    margin-top: 30px;
    color: #000;
    font-size: 3em;
    font-weight: 800;
    text-transform: uppercase;
    margin-bottom: 1.5%;
}
.conteudo h3 {
    text-align: center;
    margin-top: 20px;
    color: #000;
    font-weight: 800;
    text-transform: uppercase;
    margin-bottom: 1.5%;
}
body {
    background-color: #f8f9fa;
}
#open-modal {
    background-color: #9E8312;
}
  
button:hover {
    opacity: 1;
}
  
#fade {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.6);
    z-index: 5;
}
  
#modal {
    position: fixed;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    width: 500px;
    max-width: 90%;
    background-color: #fff;
    padding: 1.2rem;
    border-radius: 0.5rem;
    z-index: 10;
}
  
#fade,
#modal {
    transition: 0.5s;
    opacity: 1;
    pointer-events: all;
}
  
.modal-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-bottom: 1px solid #ccc;
    margin-bottom: 1rem;
    padding-bottom: 1rem;
}
  
.modal-body p {
    margin-bottom: 1rem;
}
.closemod:hover {
    background-color: rgb(150, 0, 0);
    transition: 1s;
}
#modal.hide,
#fade.hide {
    opacity: 0;
    pointer-events: none;
}
  
#modal.hide {
    top: 0;
}
.btnadd {
    margin-left: 50px;
    margin-top: 20px;
    border-radius: 25px;
    width: 40px;
    height: 40px;
    border: none;
    background-color: #9E8312;
    font-size: 22px;
}
.conteudo {
    height: 100%;
    width: 100%;
    position: relative;
}
.conteudo22 {
    width: 100%;
    position: relative;
}
.caixa {
    border: 1px solid gray;
    width: 80%;
    margin-top: 3%;
    margin-bottom: 5%;
    height: 160%;
    margin-left: 10%;
    margin-right: 10%;
    background-color: white;
}
.caixa2 {
    border: 1px solid gray;
    width: 80%;
    margin-top: 3%;
    margin-bottom: 5%;
    height: 120%;
    margin-left: 10%;
    margin-right: 10%;
    background-color: white;
}
.caixa p {
    margin-left: 5%;
    margin-right: 5%;
}
.caixa2 p {
    margin-left: 5%;
    margin-right: 5%;
}
.caixa h2 {
    color: #000;
    text-transform: uppercase;
    font-weight: 700;
    margin-top: 20px;
    margin-left: 20px;
}
.caixa2 h2 {
    color: #000;
    text-transform: uppercase;
    font-weight: 700;
    margin-top: 20px;
    margin-left: 20px;
}
.conteudo2 {
    width: 100%;
    height: 100%;
}
.conteudo2 img {
    margin-left: 200px;
    margin-bottom: 200px;
    margin-top: 100px;
}
.texto {
    margin-left: 800px;
    margin-top: -600px;
    margin-bottom: 400px;
}
.imgmissao {
    margin-left: 200px;
}
.txtmissao {
    margin-left: 1050px;
    margin-top: -400px;
    margin-bottom: 400px;
}
.fotonft {
    align-items: center;
    float: left;
    width: 50vw;
    height: 100vh;
    flex-direction: row;
    align-items: center;
    border: 5px solid 'black';
}
.register-top-grid2 div {
	width: 48%;
	float: left;
	margin: 10px 0;
}
.register-top-grid2 span{
	color:#555;
	font-size: 0.8125em;
	padding-bottom: 0.2em;
	display: block;
	text-transform: uppercase;
    padding-left: 40px;
}
.spandif{
	color:#555;
	font-size: 0.8125em;
	padding-bottom: 0.2em;
	display: block;
    margin-top: 30px;
	text-transform: uppercase;
    padding-left: 40px;
}
.register-top-grid2 input[type="text"] {
	border: 1px solid #EEE;
	outline-color: #9E8312;
	width: 96%;
	font-size: 1em;
	padding: 0.5em;
    top: -30px;
    margin-left: 40px;
	font-family: 'Open Sans', sans-serif;
}
.register-top-grid2 input[type="button"] {
	border: 1px solid #EEE;
	outline-color: #9E8312;
    color: #000;
	width: 96%;
	font-size: 1em;
	padding: 0.5em;
    margin-top: 20px;
    margin-left: 40px;
	font-family: 'Open Sans', sans-serif;
}
.submittop {
	border: 1px solid #EEE;
	outline-color: #9E8312;
    color: #000;
	width: 96%;
	font-size: 1em;
	padding: 0.5em;
    margin-top: 10px;
    margin-left: 40px;
	font-family: 'Open Sans', sans-serif;
}
.submittop2 {
	border: 1px solid #EEE;
	outline-color: #9E8312;
    color: #000;
	width: 96%;
	font-size: 1em;
	padding: 0.5em;
    margin-left: 40px;
	font-family: 'Open Sans', sans-serif;
}
.submittop:hover {
    background-color: #9E8312;
    transition: 1s;
}
.submittop2:hover {
    background-color: #9E8312;
    transition: 1s;
}
.register-top-grid2 input[type="button"]:hover {
	background-color: #9E8312;
    transition: 1s;
}
.register-top-grid2 textarea {
	border: 1px solid #EEE;
	outline-color: #9E8312;
	width: 96%;
	font-size: 1em;
	padding: 0.5em;
    margin-left: 40px;
	font-family: 'Open Sans', sans-serif;
}
.fotonft input[type="file"] {
	border: 3px solid #9E8312;
	outline-color: #9E8312;
	width: 96%;
    margin-left: 40px;
    height: 400px;
    padding: 170px;
    background-color: rgb(231, 221, 221);
    
}
.enviar2 {
    float: right;
    margin-top: -320px;
    margin-right: 50px;
}
.bannerusu {
    width: 100%;
}

@media screen and (max-width: 768px) {
    .conteudo2 img {
        align-items: center;
        width: 400px;
        height: 400px;
        margin-left: 50px;
    }
    .texto {
        margin-left: 50px;
        margin-top: -80px;
    }
    .caixa2 {
        height: 2100px;

    }
    .footer {
        margin-bottom: 0;
    }
    .imgmissao {
        width: 300px;
        height: 200px;
        margin-left: 50px;
    }
    .txtmissao {
        margin-top: 70px;
        margin-left: 30px;
        margin-bottom: 50px;
    }
    .fotonft {
        float: left;
        width: 30vw;
        height: 20vh;
        flex-direction: row;
        align-items: center;
        border: 5px solid 'black';
    }
    .register-top-grid2 div {
        width: 88%;
        float: left;
        margin-left: -70px;
        padding: 10px;
    }
    .register-top-grid2 {
        width: 48%;
        float: left;
        margin: 10px 0;
        margin-top: 410px;
        margin-bottom: 100px;
    }
    .register-top-grid2 span{
        color:#555;
        font-size: 0.8125em;
        padding-bottom: 0.2em;
        position: relative;
        display: inline-block;
        text-transform: uppercase;
        padding-left: 10px;
    }
    .register-top-grid2 input[type="text"] {
        border: 1px solid #EEE;
        outline-color: #9E8312;
        width: 220px;
        font-size: 1em;
        padding: 0.5em;
        margin-left: 10px;
        font-family: 'Open Sans', sans-serif;
    }
    .fotonft input[type="file"] {
        border: 3px solid #9E8312;
        outline-color: #9E8312;
        width: 96%;
        margin-left: 40px;
        height: 350px;
        padding: 150px;
        background-color: rgb(231, 221, 221);
    }
    .register-top-grid2 textarea {
        border: 1px solid #EEE;
        outline-color: #9E8312;
        width: 220px;
        font-size: 1em;
        padding: 0.5em;
        margin-left: 10px;
        font-family: 'Open Sans', sans-serif;
    }
    .enviar2 {
        float: right;
        margin-right: 130px;
        margin-top: -100px;
    }
    
}